@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
:root{
    --primario: #5A81FA;
    --primario-soft: #CDDEFF;
    --secundario: #2C3D8F;
    --dark: #1F1F1F;
    --gray: #6A6E83;
    --gray-soft: #A8B1CE;
    --white-soft: #F8F9FD;
    --white: #FFFFFF;
    --gray-white: #F2F5FF;
}
/*Definicion de clases por color*/
.justify-text{
    text-align: justify!important;
}
.poppins_font{
    font-family: 'Poppins', sans-serif !important;
}
.color-primario{
    color: var(--primario)!important;
}
.color-primario__soft{
    color: var(--primario-soft)!important;
}
.color-secundario{
    color: var(--secundario)!important;
}
.color-dark{
    color: var(--dark)!important;
}
.color-gray{
    color: var(--gray)!important;
}
.color-gray_soft{
    color: var(--gray-soft)!important;
}
/*Estilos a elementos*/
body{
    font-family: 'Poppins', sans-serif!important;
}
.navbar-text{
 color: var(--bs-primary)!important;
}
.menu-item .menu-link i,div{
    color: var(--bs-primary)!important;
}
.myactiveBg{
    background-color: var(--bs-secondary)!important;
}
.myactiveBgWhite{
    background-color: var(--white)!important;
}
i.myactive,div.myactive{
    color: var(--white)!important;
}